/* Customizing theme */

.navbar-vertical .navbar-nav .nav-link > i {
    font-size: 1.3rem;
}
.dropdown-item img{
    width: 50px;
    height: 50px;
}
.dropdown img{
    width: 30px;
    height: 30px;
}
.icon-shape i, .icon-shape svg {
    font-size: 2.25rem;
}
.avatar{
    width: 40px;
    height: 40px;
}
.bg-gradient-exchange{
    background: linear-gradient(87deg, #353535 0, #3b3d40 100%) !important;
}
.table thead th {
    font-size: 1rem;
}
.table tbody td {
    font-size: .9rem;
}
.nav-link-text{
    color: #f3f3f3;
}
#sidenav-main{
    background: #2a2a2a!important;
}
.btn-primary{
    background-color: #515258;
    border-color: #515258;
}
label{
    font-size: .9rem!important;
}
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: darkgrey transparent darkgrey transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  